## Exercise 02 : Preprocessing

In [89]:
import pandas as pd

* [download](https://drive.google.com/open?id=1kFMUiXtrlw5B6WTjJ-mUm4-STV28Zsvn) and read the CSV file and make `ID` the index column

In [90]:
df = pd.read_csv('../data/auto.csv', sep=',')

In [91]:
df.set_index('ID')

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

* count the number of observations using the method `count()`

In [92]:
df.count()

ID              931
CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

* drop the duplicates, taking into account only the following columns: `CarNumber`,
`Make_n_model`, `Fines`
* between the two equal observations, you need to choose the last

In [93]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)

* check the number of observations again

In [94]:
df.count()

ID              725
CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

* work with missing values
* check how many values are missing from each column

In [95]:
df.isna().sum()

ID                0
CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

* drop all the columns with over 500 missing values using the argument `thresh`,
  check how many missing values are in each column

In [96]:
df.dropna(thresh=500, axis=1, inplace=True)
df.isna().sum()

ID               0
CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

* replace all the missing values in the `Refund` column with the previous value in
  that column for that cell, use the argument method, check how many values
  are missing from each column

In [97]:
df['Refund'] = df['Refund'].ffill()
df.isna().sum()

ID               0
CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

 * replace all the missing values in the `Fines` column with the mean value of this
  column (exclude NA/null values when computing the mean value), check how
  many values are missing from each column

In [98]:
mean_df = df['Fines'][df['Fines'] != 0].mean()
df['Fines'] = df['Fines'].fillna(mean_df)

In [99]:
df.isna().sum()

ID              0
CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

* split and parse the make and model
* use the method apply both for splitting and for extracting the values to the
  new columns `Make` and `Model`

In [100]:
df['Make'] = df['Make_n_model'].apply(lambda x: x.split()[0])
df['Model'] = df['Make_n_model'].apply(lambda x: x.split()[1] if len(x.split()) == 2 else None)

* drop the column `Make_n_model`

In [101]:
df.drop(columns='Make_n_model', inplace=True)

In [102]:
df

      ID     CarNumber  Refund         Fines    Make    Model
0      0  Y163O8161RUS     2.0   3200.000000    Ford    Focus
1      1   E432XX77RUS     1.0   6500.000000  Toyota    Camry
2      2   7184TT36RUS     1.0   2100.000000    Ford    Focus
3      3  X582HE161RUS     2.0   2000.000000    Ford    Focus
5      5  92918M178RUS     1.0   5700.000000    Ford    Focus
..   ...           ...     ...           ...     ...      ...
926  926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 6 columns]

* save the dataframe in the JSON file auto.json in the format below:

    ```
    [{"CarNumber":"Y163O8161RUS","Refund":2.0,"Fines":3200.0,"Make":"Ford",
    "Model":"Focus"},
    {"CarNumber":"E432XX77RUS","Refund":1.0,"Fines":6500.0,"Make":"Toyota",
    "Model":"Camry"}]
    ```

In [103]:
df.drop(columns='ID', inplace=True)

In [104]:
df.to_json('../data/auto.json', orient='records')