## Exercise 00 : Load and save

## read_csv:
  * filter the rows with index 2 and 3 using the argument skiprows, we know that
  these observations were fake
  * filter the last 2 rows from the footer using the argument skipfooter, we know
  that these observations were fake too
  * assign the following names to the column: `datetime`, `user`
  * use datetime as the index column
  * rename `datetime` to `date_time`

In [7]:
import pandas as pd

df = pd.read_csv('../data/feed-views.log', sep=r'\t', skiprows=[2, 3], skipfooter=2, names=['datetime', 'user'], engine='python')
df

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:35:52.735016      artem
3     2020-04-17 12:36:21.401412     oksana
4     2020-04-17 12:36:22.023355     oksana
...                          ...        ...
1067  2020-05-21 16:36:40.915488  ekaterina
1068  2020-05-21 17:49:36.429237      maxim
1069  2020-05-21 18:45:20.441142  valentina
1070  2020-05-21 23:03:06.457819      maxim
1071  2020-05-21 23:23:49.995349      pavel

[1072 rows x 2 columns]

In [8]:
df = df.set_index('datetime')

In [9]:
df = df.reset_index()

* rename `datetime` to `date_time`

In [10]:
df = df.rename(columns={'datetime': 'date_time'})
df = df.set_index('date_time')

In [11]:
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

## to_csv:
  * use `’;’` as the delimiter
  * save it to a file with the name `feed-views-semicolon.log`

In [12]:
df.to_csv('feed-views-semicolon.log', sep=';')

In [13]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [14]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel