## Exercise 05 : Pandas optimizations

In [293]:
import pandas as pd
import gc

### read the fines.csv that you saved in the previous exercise

In [294]:
df = pd.read_csv('../data/fines.csv')

In [295]:
df

        CarNumber  Refund   Fines        Make   Model  Year
0    Y163O8161RUS       2  3200.0        Ford   Focus  1989
1     E432XX77RUS       1  6500.0      Toyota   Camry  1995
2     7184TT36RUS       1  2100.0        Ford   Focus  1984
3    X582HE161RUS       2  2000.0        Ford   Focus  2015
4    92918M178RUS       1  5700.0        Ford   Focus  2014
..            ...     ...     ...         ...     ...   ...
920  8182XX154RUS       1   200.0        Ford   Focus  1996
921   X796TH96RUS       1   500.0        Ford   Focus  2002
922  T011MY163RUS       2  4000.0        Ford   Focus  1996
923   T341CC96RUS       2  1000.0  Volkswagen  Passat  2012
924   T119CT96RUS       1  2000.0        Ford   Focus  1984

[925 rows x 6 columns]

### iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

* loop: write a function that iterates through the dataframe using for i in range(0, len(df)), iloc and append() to a list, assign the result of the function to a new column in the dataframe

In [296]:
def iterate(df):
    result_list = list()
    for i in range(len(df)):
        res = df.iloc[i, 2] / df.iloc[i, 1] * df.iloc[i, 5]
        result_list.append(res)

    df['Result'] = result_list

In [297]:
%%timeit -r1 -n1
iterate(df)

145 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [298]:
df

        CarNumber  Refund   Fines        Make   Model  Year      Result
0    Y163O8161RUS       2  3200.0        Ford   Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota   Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford   Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford   Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford   Focus  2014  11479800.0
..            ...     ...     ...         ...     ...   ...         ...
920  8182XX154RUS       1   200.0        Ford   Focus  1996    399200.0
921   X796TH96RUS       1   500.0        Ford   Focus  2002   1001000.0
922  T011MY163RUS       2  4000.0        Ford   Focus  1996   3992000.0
923   T341CC96RUS       2  1000.0  Volkswagen  Passat  2012   1006000.0
924   T119CT96RUS       1  2000.0        Ford   Focus  1984   3968000.0

[925 rows x 7 columns]

In [299]:
df.drop(columns='Result', inplace=True)

* do it using iterrows()

In [300]:
def iterate_irrows(df):
    result_list = list()
    for index, rows in df.iterrows() :
        res = rows['Fines'] / rows['Refund'] * rows['Year']
        result_list.append(res)

    df['Result'] = result_list

In [301]:
%%timeit -r1 -n1
iterate_irrows(df)

53.2 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [302]:
df

        CarNumber  Refund   Fines        Make   Model  Year      Result
0    Y163O8161RUS       2  3200.0        Ford   Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota   Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford   Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford   Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford   Focus  2014  11479800.0
..            ...     ...     ...         ...     ...   ...         ...
920  8182XX154RUS       1   200.0        Ford   Focus  1996    399200.0
921   X796TH96RUS       1   500.0        Ford   Focus  2002   1001000.0
922  T011MY163RUS       2  4000.0        Ford   Focus  1996   3992000.0
923   T341CC96RUS       2  1000.0  Volkswagen  Passat  2012   1006000.0
924   T119CT96RUS       1  2000.0        Ford   Focus  1984   3968000.0

[925 rows x 7 columns]

In [303]:
df.drop(columns='Result', inplace=True)

* do it using apply() and lambda function

In [304]:
def iterate_apply(df: pd.DataFrame):
    df['Result'] = df.apply(lambda x: x['Fines'] / x['Refund'] * x['Year'], axis=1)

In [305]:
%%timeit -r1 -n1
iterate_apply(df)

11.7 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [306]:
df

        CarNumber  Refund   Fines        Make   Model  Year      Result
0    Y163O8161RUS       2  3200.0        Ford   Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota   Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford   Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford   Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford   Focus  2014  11479800.0
..            ...     ...     ...         ...     ...   ...         ...
920  8182XX154RUS       1   200.0        Ford   Focus  1996    399200.0
921   X796TH96RUS       1   500.0        Ford   Focus  2002   1001000.0
922  T011MY163RUS       2  4000.0        Ford   Focus  1996   3992000.0
923   T341CC96RUS       2  1000.0  Volkswagen  Passat  2012   1006000.0
924   T119CT96RUS       1  2000.0        Ford   Focus  1984   3968000.0

[925 rows x 7 columns]

In [307]:
df.drop(columns='Result', inplace=True)

* do it using Series objects from the dataframe

In [309]:
%%timeit -r1 -n1
df['Result'] = df['Fines'] / df['Refund'] * df['Year']

631 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [310]:
df

        CarNumber  Refund   Fines        Make   Model  Year      Result
0    Y163O8161RUS       2  3200.0        Ford   Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota   Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford   Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford   Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford   Focus  2014  11479800.0
..            ...     ...     ...         ...     ...   ...         ...
920  8182XX154RUS       1   200.0        Ford   Focus  1996    399200.0
921   X796TH96RUS       1   500.0        Ford   Focus  2002   1001000.0
922  T011MY163RUS       2  4000.0        Ford   Focus  1996   3992000.0
923   T341CC96RUS       2  1000.0  Volkswagen  Passat  2012   1006000.0
924   T119CT96RUS       1  2000.0        Ford   Focus  1984   3968000.0

[925 rows x 7 columns]

In [311]:
df.drop(columns='Result', inplace=True)

* do it as in the previous subtask but with the method .values

In [312]:
%%timeit -r1 -n1
df['Result'] = df['Fines'].values / df['Refund'].values * df['Year'].values

538 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [313]:
df

        CarNumber  Refund   Fines        Make   Model  Year      Result
0    Y163O8161RUS       2  3200.0        Ford   Focus  1989   3182400.0
1     E432XX77RUS       1  6500.0      Toyota   Camry  1995  12967500.0
2     7184TT36RUS       1  2100.0        Ford   Focus  1984   4166400.0
3    X582HE161RUS       2  2000.0        Ford   Focus  2015   2015000.0
4    92918M178RUS       1  5700.0        Ford   Focus  2014  11479800.0
..            ...     ...     ...         ...     ...   ...         ...
920  8182XX154RUS       1   200.0        Ford   Focus  1996    399200.0
921   X796TH96RUS       1   500.0        Ford   Focus  2002   1001000.0
922  T011MY163RUS       2  4000.0        Ford   Focus  1996   3992000.0
923   T341CC96RUS       2  1000.0  Volkswagen  Passat  2012   1006000.0
924   T119CT96RUS       1  2000.0        Ford   Focus  1984   3968000.0

[925 rows x 7 columns]

In [314]:
df.drop(columns='Result', inplace=True)

### indexing: measure the time using the magic command %%timeit in the cell

* get a row for a specific CarNumber, for example, ’O136HO197RUS’

In [315]:
%%timeit -r1 -n1
print(df[df['CarNumber'] == 'O136HO197RUS'])

        CarNumber  Refund   Fines    Make    Model  Year
715  O136HO197RUS       2  7800.0  Toyota  Corolla  1989
902  O136HO197RUS       2  7800.0  Toyota  Corolla  1997
3.13 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

* set the index in your dataframe with CarNumber

In [316]:
df.set_index('CarNumber', inplace=True)

* again, get a row for the same CarNumber

In [317]:
%%timeit -r1 -n1
print(df.loc['O136HO197RUS'])

              Refund   Fines    Make    Model  Year
CarNumber
O136HO197RUS       2  7800.0  Toyota  Corolla  1989
O136HO197RUS       2  7800.0  Toyota  Corolla  1997
2.17 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

### downcasting:

* run df.info(memory_usage=’deep’), pay attention to the Dtype and the memory usage

In [318]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  925 non-null    int64
 1   Fines   925 non-null    float64
 2   Make    925 non-null    object
 3   Model   914 non-null    object
 4   Year    925 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 206.1 KB

* make a copy() of your initial dataframe into another dataframe optimized

In [319]:
optimized = df.copy()

* downcast from float64 to float32 for all the columns
* downcast from int64 to the smallest numerical dtype possible

In [320]:
optimized = optimized.astype({'Fines' : 'float32', 'Refund' : 'int8', 'Year' : 'int8'})

* run info(memory_usage='deep') for your new dataframe, pay attention to the Dtype and the memory usage

In [321]:
optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  925 non-null    int8
 1   Fines   925 non-null    float32
 2   Make    925 non-null    object
 3   Model   914 non-null    object
 4   Year    925 non-null    int8
dtypes: float32(1), int8(2), object(2)
memory usage: 189.8 KB

### categories:
* change the object type columns to the type category

In [322]:
optimized = optimized.astype({'Make' : 'category', 'Model' : 'category'})

* This time, check the memory usage, it probably has a decrease of 2–3 times compared to the initial dataframe

In [323]:
optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  925 non-null    int8
 1   Fines   925 non-null    float32
 2   Make    925 non-null    category
 3   Model   914 non-null    category
 4   Year    925 non-null    int8
dtypes: category(2), float32(1), int8(2)
memory usage: 95.9 KB

### memory clean
* using %reset_selective and the library gc clean the memory of your initial dataframe only

In [324]:
%reset_selective -f df, optimized

In [325]:
del df, optimized

In [326]:
gc.collect()

18