### Exercise 01 : Basic operations

* create a dataframe `views` with two columns: `datetime` and `user` by reading `feed-views.log`

In [5]:
import pandas as pd

views = pd.read_csv('../data/feed-views.log', sep='\t', names=['datetime', 'user'])
views

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

* convert the `datetime` to the `datetime64[ns]` `Dtype`

In [6]:
views['datetime'] = views['datetime'].astype('datetime64[ns]')

* extract the year, month, day, hour, minute, and second from the values of that
  column to the new columns

In [7]:
views.insert(0, 'year', views['datetime'].dt.year)
views.insert(1, 'month', views['datetime'].dt.month)
views.insert(2, 'day', views['datetime'].dt.day)
views.insert(3, 'hour', views['datetime'].dt.hour)
views.insert(4, 'minute', views['datetime'].dt.minute)
views.insert(5, 'second', views['datetime'].dt.second)

* create the new column `daytime`
  * you need to assign the particular time of day value if an hour is within a
  particular interval, for example, afternoon if the hour is larger than `11` and
  less or equal to `17`
  * 0 – 3.59 `night`, 4 – 6.59 `early morning`, 7 – 10.59 `morning`, 11 – 16.59 `afternoon`, 17 – 19.59 `early evening`, 20 – 23.59 `evening`
  * use the method `cut` to solve this subtask

In [8]:
arr = views['hour']
bin = [-1, 3.59, 6.59, 10.59, 16.59, 19.59, 23.59]
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']

In [9]:
views.insert(6, 'daytime', pd.cut(arr, bins=bin, labels=labels))

  * assign the column `user` as the index

In [10]:
views.set_index('user')

,year,month,day,hour,minute,second,daytime,datetime
user,,,,,,,,
artem,2020,4,17,12,1,8,afternoon,2020-04-17 12:01:08.463179
artem,2020,4,17,12,1,23,afternoon,2020-04-17 12:01:23.743946
artem,2020,4,17,12,27,30,afternoon,2020-04-17 12:27:30.646665
artem,2020,4,17,12,35,44,afternoon,2020-04-17 12:35:44.884757
artem,2020,4,17,12,35,52,afternoon,2020-04-17 12:35:52.735016
...,...,...,...,...,...,...,...,...
valentina,2020,5,21,18,45,20,early evening,2020-05-21 18:45:20.441142
maxim,2020,5,21,23,3,6,evening,2020-05-21 23:03:06.457819
pavel,2020,5,21,23,23,49,evening,2020-05-21 23:23:49.995349
artem,2020,5,21,23,49,22,evening,2020-05-21 23:49:22.386789
artem,2020,5,22,10,36,14,morning,2020-05-22 10:36:14.662600

* calculate the number of elements in your dataframe
  * use the method `count()`

In [11]:
views.count()

year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
datetime    1076
user        1076
dtype: int64

* calculate the number of elements in each time of day category using the method
  `value_counts()`

In [12]:
views.value_counts("daytime")

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

* sort values in your dataframe by hour, minute, and second in ascending order
  (simultaneously and not one by one)

In [13]:
views.sort_values(['hour', 'minute', 'second'], ascending=True)

,year,month,day,hour,minute,second,daytime,datetime,user
944,2020,5,15,0,0,13,night,2020-05-15 00:00:13.222265,valentina
945,2020,5,15,0,1,5,night,2020-05-15 00:01:05.153738,valentina
563,2020,5,12,0,1,27,night,2020-05-12 00:01:27.764025,pavel
564,2020,5,12,0,1,38,night,2020-05-12 00:01:38.444917,pavel
565,2020,5,12,0,1,55,night,2020-05-12 00:01:55.395042,pavel
...,...,...,...,...,...,...,...,...,...
1074,2020,5,21,23,49,22,evening,2020-05-21 23:49:22.386789,artem
246,2020,5,9,23,53,55,evening,2020-05-09 23:53:55.599821,anatoliy
247,2020,5,9,23,54,54,evening,2020-05-09 23:54:54.260791,pavel
942,2020,5,14,23,58,56,evening,2020-05-14 23:58:56.754866,valentina
943,2020,5,14,23,59,38,evening,2020-05-14 23:59:38.758438,alexander

 * calculate the minimum and maximum for the hours and the mode for the daytime
  categories
  
  * calculate the maximum of hour for the rows where the time of day is night

In [ ]:
max = views[views['daytime'] == 'night']['hour'].max()

np.int32(3)

* calculate the minimum of hour for the rows where the time of day is morning

In [15]:
min = views[views['daytime'] == 'morning']['hour'].min()

 * In addition to this, find out who visited the page at those hours (make one
  example from that)

In [16]:
views[views['hour'] == max]['user'].drop_duplicates()

46    konstantin
Name: user, dtype: object

In [17]:
views[views['hour'] == min]['user'].drop_duplicates()

963    alexander
Name: user, dtype: object

* show the 3 earliest hours in the morning and the corresponding usernames and the
  3 latest hours and the usernames using `nsmallest()` and `nlargest()`

In [18]:
views[views['daytime'] == 'early morning'].nsmallest(3, ['hour', 'minute', 'second'])[['user', 'daytime']]

           user        daytime
313  konstantin  early morning
314  konstantin  early morning
315  konstantin  early morning

In [19]:
views[views['daytime'] == 'early morning'].nlargest(3, ['hour', 'minute', 'second'])[['user', 'daytime']]

           user        daytime
317  konstantin  early morning
316  konstantin  early morning
315  konstantin  early morning

* calculate the mode for the hour and daytime

In [24]:
views['hour'].mode().to_list()

[22]

In [25]:
views['day'].mode().to_list()

[11]

* use the method `describe()` to get the basic statistics for the columns
  * to find out what the most popular interval for visiting the page is, calculate
    the interquartile range for the hour by extracting values from the result of the
`describe()` method and store it in the variable `iqr`

In [39]:
stats = views.describe()
stats

,year,month,day,hour,minute,second,datetime
count,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000,1076
mean,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929,2020-05-10 09:00:41.211420672
min,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000,2020-04-17 12:01:08.463179
25%,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000,2020-05-10 01:13:49.857472
50%,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000,2020-05-11 22:48:35.302552832
75%,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000,2020-05-14 14:44:34.749530624
max,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000,2020-05-22 10:36:14.662600
std,0.0,0.335557,4.906567,6.955490,17.689388,17.405506,NaN

In [42]:
iqr = stats.loc['75%', 'hour'] - stats.loc['25%', 'hour']